<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="use_sim_time"  default="true" />
  <arg name="param_file" default="$(find nvblox_ros)/config/full_parameters.yaml"/>
  <arg name="rviz" default="false" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find nvblox_ros)/rviz/panopt.rviz" if="$(arg rviz)"/>

  <node pkg="nvblox_ros" type="nvblox_node" name="nvblox_node" respawn="false" output="screen" >
    <rosparam file="$(arg param_file)"/>
    <remap from="depth/image" to="/filter_operations_node/object_depth" />
    <remap from="depth/camera_info" to="/filter_operations_node/camera_info" />

    <!-- Anything here ovewrites the parameters in the config file. -->
    <param name="use_sim_time" value="$(arg use_sim_time)" />
    <param name="voxel_size" value="0.01" />
    <param name="esdf_slice_height" value="-0.75" />
    <param name="esdf_2d" value="true" />
    <param name="esdf_2d_min_height" value="-0.85" />
    <param name="esdf_2d_max_height" value="0.25" />
  </node>

</launch>
